.activePage a {
  background-color: #6366f1;
  color: white;
}

.activePage a:hover {
  background-color: #6366f1;
  color: white;
}

.pagination-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 2px 0;
  background: #ffffff; /* or any other color */
}
